<h1>Salonists</h1>

<hr>

  <% if @salons.any?() %>
    <ul>
      <% @salons.each() do |salon| %>
        <li><a href="/salons/<%= salon.id()%>"><%= salon.name() %></a> </li>
        <p><a href="/salons/<%= salon.id() %>/edit"><button class="button btn"> Edit <%= salon.name() %> salon</button></a></p>
      <% end %>
    </ul>

  <% else %>

      <p>There are no salons yet!</p>

  <% end %>

  <hr>

  <a href="/"><button class="button btn">Return Home</button></a>
  <a href="/salons/new"><button class="button btn">Add New Salonist without task</button></a>
  <a href="/add"><button class="button btn">Add a task to existing salon</button></a>