<h1>New Salonist</h1>

  <form action="/salons" method="post">
    <label for="name">Name:</label>
    <input id="name" name="name" type="text">

    <button type="submit">Add</button>
  </form>

  <hr>

<a href="/"><button class="button btn">Return Home</button></a>