<h2>Update <%=@salon.name() %> </h2>
<form action="/salons/<%= @salon.id() %>" method="post">
    <input name="_method" type="hidden" value="patch">
    <label for="name">Rename
        <%=@salon.name() %>:</label>
    <input id="name" name="name" type="text">
    <button type="submit">Update</button>
</form>
<form action="/salons/<%= @salon.id() %>" method="post">
    <input name="_method" type="hidden" value="delete">
    <button type="submit">Delete Salonist</button>
</form>